<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Colour Etude II.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>599B72BF1E4A51E900EFFAB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>599B72D31E4A51EA00EFFAB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>599B72DE1E4A51EA00EFFAB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
